<h1>Products</h1>

<% @products.each do |product| %>
	<%= link_to product.name, product_path(product) %>
	</br>
<% end %>

<%= form_tag (new_product_path), method: "get" do %>
	<%= submit_tag "Add New Category" %>
<% end %>
