<h2>Products</h2>

<%= form_tag (new_product_path), method: "get" do %>
	<%= submit_tag "Add New Product" %>
<% end %>
</br></br>
<div class="container check_field">
<% @products.each do |product| %>
	<%= link_to product.name, product_path(product) %>
	</br>
<% end %>
</div>
